.content{
    color: white;
}
#top-bar{
    background-color: var(--mat-sys-on-primary-fixed);
    color: white;
    width: 100%;
    height: max-content;
    padding: 15px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    top: 0;
}
$opt-bg: #4483d4b4;
.hero-option{
  text-decoration: none;
  padding: 0;
  aspect-ratio: 1;
  margin: 15px 30px;
  margin-right: 0;
  border: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 120%;
  & img{
    width: 100px;
    margin-bottom: 20px;
  }
  border-radius: 10px;
  transition: background .2s ease-in-out;
  @for $i from 1 through 4 {
    &:nth-of-type(#{$i}n) {
      background: darken($opt-bg, $i * 7%);
      &:hover{
        background: darken($opt-bg, ($i - 1)* 4%)
      }
    }
  }
}
#hero-right{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}