@if (user) { 
    <!-- csak rendezo btw -->
    <div class="container" style="margin-top: 5px;">
        <topbar [username]="user.megjeleno_nev"></topbar>
        <div class="row">
            <div class="col-md-6">
                <form #f="ngForm" (ngSubmit)="sendCompetitionData()">
                    <h4>Verseny felvétele</h4>
                    <form-group (editEvent)="editEvent($event)" (editEvent)="editEvent($event)" [placeholder]="'Verseny neve'" [property_val]="newComp.nev" [property_name]="'nev'"></form-group>
                    <form-group (editEvent)="editEvent($event)" [placeholder]="'Verseny helyszíne(terkep)'" [property_val]="newComp.helyszin" [property_name]="'helyszin'"></form-group>
                    <div class="row">
                        <div class="col-6">
                            <form-group (editEvent)="editEvent($event)" [placeholder]="'Verseny kezdete'" [property_val]="newComp.kezdet" [property_name]="'kezdet'" [type]="'date'"></form-group>
                        </div>
                        <div class="col-6">
                            <form-group (editEvent)="editEvent($event)" [placeholder]="'Verseny vége'" [property_val]="newComp.veg" [property_name]="'veg'" [type]="'date'"></form-group>
                        </div>
                    </div>
                    <!-- <form-group [required]="false" (editEvent)="editEvent($event)" [placeholder]="'Évad/szezon'" [property_val]="newComp.evszam" [property_name]="'evszam'" [type]="'number'"></form-group> -->
                    <!-- nem formgroup lesz -->
                    <div class="row">
                        <div class="col-md-5">
                            <label for="evszam" class="col-md-5 col-form-label">Évad/szezon:</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" name="evszam" class="form-control" placeholder="Üres esetén a megrendezés éve" [(ngModel)]="newComp.evszam">
                        </div>
                    </div>
                    <form-group (editEvent)="editEvent($event)" [placeholder]="'Megjelenési dátum'" [property_val]="newComp.megjelenik" [property_name]="'megjelenik'" [type]="'date'"></form-group>
                    <form-group (editEvent)="editEvent($event)" [placeholder]="'Nevezési határidő'" [property_val]="newComp.nevezesi_hatarido" [property_name]="'nevezesi_hatarido'" [type]="'date'"></form-group>
                    Leírás<span style="color: red;">*</span>
                    <textarea [(ngModel)]="newComp.leiras" name="leiras" class="form-control">

                    </textarea>
                    Szervező egyesület<span style="color: red;">*</span>:
                    <select name="egyesulet" class="form-select" id="assocSelector" (change)="assocSelectorChange()">
                        <option value="-1">-- Kérem válasszon --</option>
                        @for (item of associations; track $index) {
                            <option value="{{item.id}}">{{item.nev}}</option>
                        }
                    </select>

                    <br>Kategóriák<span style="color: red;">*</span>
                    <ng-select 
                        [multiple]="true" bindLabel="nev" bindValue="id" [items]="categories" placeholder="Válasszon legalább egyet" name="competitionCategories" [(ngModel)]="competitionCategories">
                    </ng-select>
                    <br>
                    <form-group (editEvent)="editEvent($event)" [placeholder]="'Junior nevezési díj (Ft)'" [property_val]="newComp.nevezesi_dij_junior" [property_name]="'nevezesi_dij_junior'" [type]="'number'"></form-group>
                    <form-group (editEvent)="editEvent($event)" [placeholder]="'Teljes árú nevezési díj (Ft)'" [property_val]="newComp.nevezesi_dij_normal" [property_name]="'nevezesi_dij_normal'" [type]="'number'"></form-group>
                    <form-group (editEvent)="editEvent($event)" [placeholder]="'Senior nevezési díj (Ft)'" [property_val]="newComp.nevezesi_dij_senior" [property_name]="'nevezesi_dij_senior'" [type]="'number'"></form-group>
                    Borítókép
                    <input type="file" class="form-control" id="competitionThumbnail" accept="image/*">
                    <button type="submit" class="btn" [disabled]="!formEnabled">Rögzít</button>
                </form>
            </div>
            <div class="col-md-6">
                <h4>Versenyeim</h4>
                <div class="competitions-list">
                @for (item of userCompetitions; track item.id) {
                    <div class="competition-row">
                        {{item.nev}}
                        <button (click)="toggleDropdown(item.id, $event)">V</button>
                    </div>
                    <div [ngClass]="`competition-dropdown-${item.id}`" hidden>
                        @if (item.kep_url) {
                            <img src="http://127.0.0.1:8000{{item.kep_url}}" alt="">
                        }@else{
                            <img src="https://wichtech.com/wp-content/uploads/2016/09/noimg.jpg" alt="">
                        }
                        <ul>
                            <li>Helyszín: {{item.helyszin}}</li>
                            <li>Verseny ideje: {{item.kezdet}} - {{item.veg}}</li>
                            <li>Versenyszezon: {{item.evszam}}</li>
                            <li>Nevezési határidő: {{item.nevezesi_hatarido}}</li>
                            <li>Leírás: {{item.leiras}}</li>
                            <li>Kategóriák:</li>
                        </ul>
                        <br>
                        --törlés--
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
}
@else {
    {{router.navigateByUrl("/login")}}
}
<router-outlet />