<div>
    <top-bar-root/>
    <section class="content">
         <div class="competitions-wrapper col-12">
            <div class="competition-card">
                <div style="position: relative;">
                    @if(competition?.kep_url){
                        <img src="{{ds.STORAGE_URL}}{{competition?.kep_url}}" alt="">
                    }@else{
                        <img src="https://media.istockphoto.com/id/1286476479/vector/public-icon-traffic-icons-for-ship.jpg?s=612x612&w=0&k=20&c=NW0sE3lQkkjWwvppDIIiZg0SpVKIdsJYF7cco7CpltM=" alt="">
                    }
                    <div id="overlay" class="d-flex">
                        @if(competition?.veg! < today){
                            <h1 class="text-center" style="color: darkred;">Ez a verseny már lezajlott!</h1>
                        }
                        <h1 class="text-center">{{competition?.nev}}</h1>
                        <h2 class="text-center">{{competition?.kezdet | date:"y.MM.dd HH:mm"}} - {{competition?.veg | date:"y.MM.dd HH:mm"}}</h2>
                        <h2 class="text-center">A verseny helyszíne: {{competition?.helyszin}}</h2>
                        <div #map style="height: 500px; width: 80%; margin-bottom: 15px;" [style.visibility]="competition?.veg! >= today ? 'visible' : 'hidden'"></div>
                        <div class="row">
                            @if (ds.getUser()) {
                            <div class="col-6">
                                <h4>Nevezések:</h4>
                                @for (item of entriesByCompetition; track $index) {
                                    <!-- TODO: szebbre -->
                                    {{getCategoryName(item.kategoriaid)}}: {{getCompetitorName(item.versenyzoid)}}
                                }
                                @empty{
                                    Még nem érkezett nevezés
                                }
                            </div>
                            }
                            
                            <div [class]="ds.getUser() ? 'col-6' : 'col-12 text-center'">
                                @if(competition?.veg! >= today){
                                    <p [innerHTML]="competition?.leiras?.replaceAll(`\n`, '<br>')" style="max-width: 750px; text-align: justify;"></p>
                                    <h3>Nevezési díjak:</h3>
                                    <h5>Teljes árú: {{competition?.nevezesi_dij_normal}} Ft</h5>
                                    <h5>Junior: {{competition?.nevezesi_dij_junior}} Ft</h5>
                                }
                            </div>
                        </div>
                        <br>
                            <!-- szervezo egyesuletet valahova -->
                        @if(competition?.nevezesi_hatarido! >= today){
                            <a class="blue-button" [routerLink]="[`/competition_register/${competition?.id}`]">Nevezés</a>
                        } 
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
