@if (!user) {
    <div id="landing-bg"></div>
    <div class="reveal-animate">
        <form #f="ngForm" class="col-10 col-lg-5 col-xl-3 d-flex login-card" (ngSubmit)="sendLoginData()">
            <h3>Bejelentkezés</h3>
            <input class="form-control" name="usernameOrEmail" type="text" placeholder="E-mail cím vagy felhasználónév" [(ngModel)]="usernameOrEmail">
            <input class="form-control" name="password" type="password" placeholder="Jelszó" [(ngModel)]="password">
            <div class="d-flex" style="gap: 15px;">
                <button class="blue-button" type="button" (click)="router.navigateByUrl('/')">Vissza</button> 
                <button class="blue-button" type="submit">Belépés</button> 
            </div>
        </form>
    </div>
} @else {
    {{router.navigateByUrl("/dashboard")}}
}