@if(!user){
<div class="container">
    <div class="col-10 col-md-4 mx-auto mt-1">
        <h3 class="text-center">Modellhajó - bejelentkezés</h3>
        <form #f="ngForm" (ngSubmit)="sendLoginData()">
            <input type="text" class="form-control" [(ngModel)]="usernameOrEmail" placeholder="E-mail cím vagy felhaszálónév" required #err="ngModel" name="usernameOrEmail">
            @if (err.invalid && (err.dirty || err.touched)){
                <p class="formError">Felhaszbálóvév megadása kötelező</p>
            }
            <input type="text" class="form-control" [(ngModel)]="pwd" placeholder="Jelszó" name="pwd">
            <!-- <div class="form-check">
                <input type="checkbox" class="form-check-input" id="stayLoggedIn"> 
                <label for="stayLoggedIn" class="form-check-label">Maradjak bejelentkezve</label>
            </div> -->
            <button type="submit" class="btn w-100" [disabled]="f.invalid">Bejelentkezés</button>
            @if (!loginSuccess){
                <p class="loginError">Hibás felhasználónév vagy jelszó!</p>
            }
        </form>
    </div>
</div>
} @else {
    {{router.navigateByUrl("/homepage")}}
}

<router-outlet />
