@if (!ds.getUser()) {
    <top-bar-root></top-bar-root>
    <div class="reveal-animate">
        <form #f="ngForm" class="col-10 col-lg-5 col-xl-3 d-flex login-card" (ngSubmit)="sendLoginData()">
            <h3>Bejelentkezés</h3>
            <div class="w-100">
                <input autocomplete="username" #err="ngModel" required class="form-control" name="usernameOrEmail" type="text" placeholder="E-mail cím vagy felhasználónév" [(ngModel)]="usernameOrEmail">
                @if (err.invalid && (err.dirty || err.touched)){
                    <p class="formError">Felhasználóvév vagy e-mail cím megadása kötelező</p>
                }
            </div>
            <input autocomplete="password" class="form-control" name="password" type="password" placeholder="Jelszó" [(ngModel)]="password">
            <div class="d-flex" style="gap: 15px;">
                <button class="blue-inverse-button" type="button" (click)="ds.router.navigateByUrl('/')">Vissza</button> 
                <button class="blue-button" type="submit">Belépés</button> 
            </div>
            <div class="text-center">
                <a [routerLink]="['/user_register']" class="my-0" style="color: white;">Nincs még fiókja?</a><br>
                <a [routerLink]="['/forgot_password']" class="my-0" style="color: white;">Elfelejtett jelszó</a>
            </div>
            @if (!loginSuccess){
                <p class="errorBox w-100 my-0">Hibás felhasználónév vagy jelszó!</p>
            }
        </form>
    </div>
}