.competition-card{
    height: 300px;
    margin-bottom: 15px;
    border-radius: 15px;
    display: flex;
    position: relative;
    overflow: hidden;
    &::before{
        content: '';
        pointer-events: none;
        position: absolute;

    }
    -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.3);
    & img{
        height: 100%;
        aspect-ratio: 1.1;
        object-fit: cover;
        
    }
    & .comp-card-data{
        display: flex;
        flex-direction: column;
        color: black;
        width: 100%;
        padding: 25px;
        background-color: var(--mat-sys-primary-container);
        border-left: 1px solid var(--mat-sys-primary);
        overflow-y: auto;
    }
}
.competitions-wrapper{
    max-width: 80%;
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 10px;
}
.category-wrapper{
    width: 100%;
    padding-right: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
table{
    border-collapse: separate;
    border-spacing: 15px 0;
}
hr{
    margin: 2px 0;
}
td{
    width: 40%;
    &:nth-child(3){
        width: 20%;
    }
}
