<top-bar-root/>
<div class="g-0 px-5 py-2" >
    <div class="competitions-wrapper">
    <h2>Verseny nevezések</h2>
    @for (comp of competitions; track comp.id) {
        <div class="competition-card">
            <div class="comp-card-data">
                <div class="d-flex" style="align-items: center; gap: 15px;">
                    @if (comp.kep_url) {
                        <img src="{{ds.STORAGE_URL}}{{comp.kep_url}}" alt="">
                    }@else{
                        <img src="https://media.istockphoto.com/id/1286476479/vector/public-icon-traffic-icons-for-ship.jpg?s=612x612&w=0&k=20&c=NW0sE3lQkkjWwvppDIIiZg0SpVKIdsJYF7cco7CpltM=" alt="">
                    }
                    <h3>{{comp.nev}}</h3>
                </div>
                <table style="margin-bottom: 10px;">
                    <thead>
                        <tr>
                            <th>
                                <select class="form-select" [(ngModel)]="selectedCategory[comp.id]" name="category-{{comp.id}}">
                                        <option [ngValue]="-1">Összes kategória</option>
                                        @for (cat of compCategories[comp.id]; track cat.id) {
                                            <option [ngValue]="cat.id">{{cat.nev}}</option>
                                        }
                                </select>
                            </th>
                            <th>
                                <select class="form-select" [(ngModel)]="selectedCompetitor[comp.id]" name="competitor-{{comp.id}}">
                                        <option [ngValue]="-1">Összes versenyző</option>
                                        @for (competitor of compCompetitors[comp.id]; track competitor.id) {
                                            <option [ngValue]="competitor.id">{{competitor.megjeleno_nev}}</option>
                                        }
                                </select>
                            </th>
                            <th>Egyesület</th>
                            <th>
                                <select class="form-select" [(ngModel)]="selectedJunior[comp.id]" name="junior-{{comp.id}}">
                                        <option [ngValue]="-1">Összes korosztály</option>
                                        <option [ngValue]="1">Csak junior</option>
                                        <option [ngValue]="0">Csak senior</option>
                                </select>
                            </th>
                            <th style="text-align: center;">Rajtszám</th>
                            <th style="text-align: center;">Csoport</th>
                            <th colspan="2">
                                <button class="btn btn-primary w-100" (click)="saveAllEntries(comp.id)">Összes mentése</button>
                            </th>
                        </tr>
                        <tr><td colspan="8"><hr></td></tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let entry of getEntryArray(comp.id.toString()); let i = index">
                            <td>{{getCategoryName(entry.kategoriaid)}}</td>
                            <td>{{getCompetitorName(entry.versenyzoid)}}</td>
                            <td>{{getAssociationName(entry.egyesulet)}}</td>
                            <td style="text-align: center;">{{entry.is_junior ? 'Junior' : 'Senior'}}</td>
                            <td>
                                <input type="number" min="1" class="form-control" [(ngModel)]="entryNumbers[entry.id]">
                            </td>
                            <td>
                                <ng-select
                                [items]="getGroupOptions(comp.id, entry.is_junior)"
                                bindLabel="label"
                                bindValue="value"
                                [addTag]="getGroupTagHandler(comp.id, entry.is_junior)"
                                [clearable]="true"
                                placeholder="Csoport"
                                [(ngModel)]="entryGroups[entry.id]"
                                appendTo="body"
                                >
                                </ng-select>
                            </td>
                            <td>
                                <button class="btn btn-primary py-0 w-100" (click)="updateNumber(entry)">Mentés</button>
                            </td>
                            <td>
                                <button class="btn btn-danger py-0 w-100" (click)="deleteEntry(entry)">Törlés</button>
                            </td>
                        </tr>
                        @if(getEntryArray(comp.id.toString()).length == 0){
                            <tr><td>A versenyre még nem érkezett nevezés</td></tr>
                        }
                        <tr><td colspan="8"><hr></td></tr>
                        <tr>
                            <td>
                                <ng-select
                                placeholder="Írjon ide a kereséshez"
                                [items]="categories"
                                bindLabel="nev"
                                bindValue="id"
                                [(ngModel)]="newEntry.category"
                                appendTo="body"
                                >
                                </ng-select>
                            </td>
                            <td>
                                <ng-select
                                [items]="competitors"
                                bindLabel="megjeleno_nev"
                                bindValue="id"
                                placeholder="Írjon ide a kereséshez"
                                [(ngModel)]="newEntry.competitor"
                                appendTo="body"
                                >
                                </ng-select>
                            </td>
                            <td>
                                <ng-select
                                [items]="associations"
                                bindLabel="nev"
                                bindValue="nev"
                                [addTag]="addAssociationTag"
                                [clearable]="true"
                                placeholder="Válasszon / írjon be újat"
                                [(ngModel)]="newEntry.assoc"
                                appendTo="body"
                                >
                                </ng-select>
                            </td>
                            <td style="text-align: center;">
                                <label for="isjunior_check">
                                    <input type="checkbox" class="form-check-input" [(ngModel)]="newEntry.is_junior" id="isjunior_check">
                                    Junior
                                </label>
                            </td>
                            <td>
                                <input type="number" min="1" class="form-control" [(ngModel)]="newEntry.number">
                            </td>
                            <td>
                                <ng-select
                                [items]="getGroupOptions(comp.id, newEntry.is_junior)"
                                bindLabel="label"
                                bindValue="value"
                                [addTag]="getGroupTagHandler(comp.id, newEntry.is_junior)"
                                [clearable]="true"
                                placeholder="Csoport"
                                [(ngModel)]="newEntry.sorszam"
                                appendTo="body"
                                >
                                </ng-select>
                            </td>
                            <td colspan="2">
                                <button class="btn btn-primary w-100 py-1" (click)="createEntry(comp.id)">Felvétel</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="blue-button" style="margin-top: auto;" (click)="exportCSVCommand(comp.id)">Exportálás excel fájlba</button>
            </div>
        </div>
    }@empty {
        <h5 style="color: white;">Ön még nem hozott létre versenyt</h5>
    }
    </div>
</div>