$opt-bg: #4483d4b4;

.regist-card {
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 40px;
    height: 100%;
    background-color: $opt-bg;
    padding: 25px 40px;
    border-radius: 10px;
    gap: 25px;
}
