<div id="landing-bg"></div>
<div class="reveal-animate">
    <form #f="ngForm" class="col-10 col-lg-5 col-xl-3 d-flex regist-card" (ngSubmit)="sendRegisterData()">
        <h4 class="w-100 text-center">Felhasználó regisztráció</h4>
        <input #err="ngModel" class="form-control" name="megjeleno_nev" type="text" placeholder="Megjelenő név" required [(ngModel)]="newUser.megjeleno_nev">
        <input #err="ngModel" class="form-control" name="felhasznalonev" type="text" placeholder="Felhasználónév" required [(ngModel)]="newUser.felhasznalonev">
        <input #err="ngModel" class="form-control" name="felhasznalonev" type="email" placeholder="E-mail cím" [(ngModel)]="newUser.email">
        <input #err="ngModel" class="form-control" name="password" type="password" placeholder="Jelszó" [(ngModel)]="newUser.password">
        <input #err="ngModel" class="form-control" name="conf_password" type="password" placeholder="Jelszó újra" [(ngModel)]="newUser.conf_password">
        <div class="w-100">
            <span>Szerepkör:</span>
            <select style="margin-bottom: 10px;" name="szerepkor_id" class="form-select" [(ngModel)]="newUser.szerepkor_id">
                <option value="4">Vendég</option>
                <option value="1">Rendező</option>
                <option value="2">Versenyző</option>
                <option value="5">Versenyző támogatója</option>
                <option value="3">Segítő</option>
            </select>
            
        </div>
        @if (newUser.szerepkor_id == 2 || newUser.szerepkor_id == 5){
            <input #err="ngModel" class="form-control" name="mmszid" type="text" placeholder="MMSz tagsági azonosító (opcionális)" [(ngModel)]="newUser.mmszid">
        }
        @if (errorString != ''){
            <p class="errorBox col-12">{{errorString | translate}}</p>
        }
        <div class="d-flex" style="gap: 15px;">
            <a class="blue-inverse-button" type="button" [routerLink]="['/']" >Vissza</a> 
            <button class="blue-button" type="submit">Regisztráció</button> 
        </div>

    </form>
</div>