<div id="landing-bg"></div>
<div class="reveal-animate">
    <form #f="ngForm" class="col-10 col-lg-5 col-xl-3 d-flex login-card" (ngSubmit)="send()">
        <div class="w-100">
            <label for="newPassword">Új jelszó</label>
            <input required class="form-control" name="newPassword" type="password" placeholder="Új jelszó" [(ngModel)]="newPassword">
        </div>
        <div class="w-100">
            <label for="confPassword">Jelszó megerősítése</label>
            <input required class="form-control" name="confPassword" type="password" placeholder="Jelszó megerősítése" [(ngModel)]="confPassword">
        </div>
        <button type="submit" class="blue-button w-100" [disabled]="f.invalid || !ready">Jelszó módosítása</button>
        <a routerLink="/login" class="text-white">Vissza a bejelentkezéshez</a>
    </form>
</div>