$opt-bg: #4483d4b4;
.competitions-wrapper{
    background-color: $opt-bg;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 15px;
}
.competition-card{
    height: 300px;
    margin-bottom: 15px;
    border-radius: 15px;
    display: flex;
    position: relative;
    overflow: hidden;
    &::before{
        content: '';
        pointer-events: none;
        position: absolute;
        inset: 0;
        -webkit-box-shadow: inset 0px 0px 25px 5px rgba(0,0,0,0.2); 
        box-shadow: inset 0px 0px 25px 5px rgba(0,0,0,0.2);

    }
    -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.3);
    & img{
        height: 100%;
        aspect-ratio: 1.2;
        object-fit: cover;
        
    }
    & .comp-card-data{
        display: flex;
        flex-direction: column;
        color: black;
        width: 100%;
        padding: 25px;
        background-color: var(--mat-sys-primary-container);
        border-left: 1px solid var(--mat-sys-primary);
        justify-content: center;
    }
}
.comp-filters-wrapper{
    border-right: 25px solid transparent;
    height: max-content;
}
.comp-filters{
    color: black;
    padding: 25px;
    background-color: var(--mat-sys-primary-container);
    border-radius: 30px;
}