<top-bar-root/>
<!-- guard -->
<div class="g-0 col-12 col-lg-5 py-2 px-5 mx-auto">
    <h2 class="text-center">{{competition?.nev}}</h2>
    <!-- mmsz id-t nezni -->
    <form >
        <div>
            <span class="mandatory-star">MMSZ Tagsági azonosító</span>
            <input name="mmszid" type="text" class="form-control" [(ngModel)]="mmszid">
        </div>
        <div>
            <span>Melyik egyesület színeiben versenyez? (üresen is hagyhatja)</span>
            <ng-select
                [items]="associations"
                bindLabel="nev"
                bindValue="nev"
                [addTag]="addAssociationTag"
                [clearable]="true"
                placeholder="Válasszon vagy írjon be új egyesületet"
                name="association"
                [(ngModel)]="selectedAssoc"
            ></ng-select>
        </div>
         <div>
            <span class="mandatory-star">Kategória(k)</span>
            <ng-select 
                #catSelector="ngModel"
                [multiple]="true"
                bindLabel="nev"
                bindValue="id"
                [items]="competitionCategories"
                placeholder="Kérem válasszon legalább egyet"
                name="competitionCategories"
                [(ngModel)]="newCompetitionCategories"
                >
            </ng-select>
        </div>
        <div>
            <label class="form-check-label" style="color: white;">
                <input class="form-check-input" type="checkbox" name="isJunior" [(ngModel)]="isJunior">
                Junior nevezés
            </label>
        </div>
        
        <button class="blue-button" (click)="enterCompetition()" [disabled]="newCompetitionCategories.length == 0">Nevezés</button>
    </form>
</div>
