<top-bar-root></top-bar-root>
<div class="reveal-animate">
    <form #f="ngForm" class="col-10 col-lg-5 col-xl-3 d-flex login-card" (ngSubmit)="send()">
        <div class="w-100">
            <label for="email">Adja meg az e-mail címét</label>
            <input #err="ngModel" required class="form-control" name="usernameOrEmail" type="email" placeholder="E-mail cím" [(ngModel)]="email">
        </div>
        <button type="submit" class="blue-button w-100" [disabled]="f.invalid">Küldés</button>
    </form>
</div>