input{
    margin-bottom: 10px;
}
button:not(.btn-success, .btn-danger){
    background-color: var(--mat-sys-primary);
    color: white;
    &:hover{
        background-color: color-mix(in srgb, var(--mat-sys-primary), white 25%);;
    }
}
.formError{
    color: #EE5C6C;
    text-align: left;
    font-size: small;
    margin: 5px 0 10px 5px;
}
.errorBox{
    background-color: #EE5C6C;
    text-align: left;
    font-size: small;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid var(--mat-sys-error);
    border-radius: 5px;
    color: darkred;
}
.successBox{
    @extend .errorBox;
    background-color: lightgreen;
    color: darkgreen;
    border: 1px solid green;
}
#cancelBTN{
    margin-left: 10px;
    background-color: var(--mat-sys-inverse-primary);
    color: black;
    &:hover{
        color: white;
    }
}