input{
    margin-bottom: 10px;
}
button:not(.btn-success, .btn-danger){
    background-color: var(--mat-sys-primary);
    color: white;
    &:hover{
        background-color: color-mix(in srgb, var(--mat-sys-primary), white 25%);;
    }
}
.formError{
    color: #EE5C6C;
    text-align: left;
    font-size: small;
    margin: 5px 0 10px 5px;
}
.errorBox{
    background-color: #EE5C6C;
    text-align: left;
    font-size: small;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid var(--mat-sys-error);
    border-radius: 5px;
    color: darkred;
}
.successBox{
    @extend .errorBox;
    background-color: lightgreen;
    color: darkgreen;
    border: 1px solid green;
}
#cancelBTN{
    margin-left: 10px;
    background-color: var(--mat-sys-inverse-primary);
    color: black;
    &:hover{
        color: white;
    }
}
.competitions-list{
    // & :last-child{
    //     border: 0 !important;
    // }
    & div.competition-row{
        width: 100%;
        background-color: white;
        height: 40px;
        border-bottom: 1px solid darkgray;
        padding: 10px;
        & button{
            float: right;
            border: 0;
            border-radius: 5px;
            width: 22px;
        }
    }
    border-radius: 10px;
    border: 1px solid grey;
    overflow: hidden;
}
[class^="competition-dropdown-"]{
    background-color: #f0f0f0;
    padding: 15px;
    & img{
        float: left;
        width: 60px;
    }
    & ul{
        display: inline-block;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance:textfield;
    text-align: right;
}
.dropdown-menu a{
    cursor: pointer;
}