@keyframes reveal {
  to {
    opacity: 1;
  }
}
.reveal-animate{
  animation: reveal 0.6s ease-out forwards;
  opacity: 0;
}
.blue-inverse-button, .blue-button{
  border: 0;
  outline: 0;
  border-radius: 50px;
  padding: 8px 40px;
  font-weight: 500;
  text-decoration: none;
  &:hover{
    cursor: pointer;
    text-decoration: underline;
    -webkit-box-shadow:0px 0px 20px 5px var(--mat-sys-primary);
    -moz-box-shadow: 0px 0px 20px 5px var(--mat-sys-primary);
    box-shadow: 0px 0px 20px 5px var(--mat-sys-primary);
    transition: box-shadow .3s ease-in-out;
  }
}
.blue-button{
  background-color: var(--mat-sys-primary);
  color: white;
}
.blue-inverse-button{
  background-color: white;
  color: var(--mat-sys-primary);
  border: 3px solid var(--mat-sys-primary);
}
section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 100px;
}
.white-bg{
  background-color: white;
  color: black;
}
#landing-bg{
  top: 0;
  background:
  linear-gradient(rgba(0, 40, 120, 0.5), rgba(0, 40, 120, 0.5)),
                  url("/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
#top-bar{
    background-color: var(--mat-sys-on-primary-fixed);
    color: white;
    width: 100%;
    height: max-content;
    padding: 15px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    top: 0;
}